<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to 'DesireCity', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= (controller.controller_name == 'desires') ? 'active' : '' %>">
          <%= link_to 'Desires', desires_path, class: 'nav-link' %>
        </li>
      </ul>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>